/* ==========================================================================
   COMPONENTS / #SKIP-LINK
   ========================================================================== */

/**
 * 1. Hides the skip link off the page,
 * 2. until the link gains focus from keyboard tabbing.
 */

 .skip-link {
  left: -9999px; /* [1] */
  padding: spacing(2);
  position: absolute;

  &:active,
  &:focus {
    left: spacing(3); /* [2] */
    top: spacing(3);
    z-index: 2;
  }

  &:visited {
    color: $color_black;
  }

}