<FilesMatch "\.(php|php3|php4|php5|phtml|inc)$">
    Require all denied
</FilesMatch>

<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	Header always append X-Frame-Options SAMEORIGIN
	Header set X-Content-Type-Options nosniff
</IfModule>
