/* ==========================================================================
   STYLES / #TYPOGRAPHY
   ========================================================================== */

/* Headings */

// The % (silent class) allows code to be extended (@extend) to other elements
// without bloating the code.
//
// @example scss
//  .foo {
//   @extend %heading-xl;
//  }

%heading-xl {
  @include typography-responsive(48);

  display: block;
  font-weight: $font-bold;
  margin-top: 0;

  @include responsive-margin(7, 'bottom');
}

h1,
.heading-xl {
  @extend %heading-xl;
}

%heading-l {
  @include typography-responsive(32);

  display: block;
  font-weight: $font-bold;
  margin-top: 0;

  @include responsive-margin(4, 'bottom');
}

h2,
.heading-l {
  @extend %heading-l;
}

%heading-m {
  @include typography-responsive(24);

  display: block;
  font-weight: $font-bold;
  margin-top: 0;

  @include responsive-margin(4, 'bottom');
}

h3,
.heading-m {
  @extend %heading-m;
}

%heading-s {
  @include typography-responsive(22);

  display: block;
  font-weight: $font-bold;
  margin-top: 0;

  @include responsive-margin(4, 'bottom');
}

h4,
.heading-s {
  @extend %heading-s;
}

%heading-xs {
  @include typography-responsive(19);

  display: block;
  font-weight: $font-bold;
  margin-top: 0;

  @include responsive-margin(4, 'bottom');
}

h5,
.heading-xs {
  @extend %heading-xs;
}

%heading-xxs {
  @include typography-responsive(19);

  display: block;
  font-weight: $font-bold;
  margin-top: 0;

  @include responsive-margin(4, 'bottom');
}

h6,
.heading-xxs {
  @extend %heading-xxs;
}

/* Captions to be used inside headings */

.caption-xl {
  @include font(32);

  color: $secondary-text-color;
  display: block;
  margin-bottom: spacing(1);
}

.caption-l {
  @include font(24);

  color: $secondary-text-color;
  display: block;
  margin-bottom: spacing(1);
}

.caption-m {
  @include font(19);

  color: $secondary-text-color;
  display: block;
}

.caption--bottom {
  margin-bottom: spacing(0);
  margin-top: spacing(1);
}

/* Body (paragraphs) */

%body-l {
  @include typography-responsive(24);

  display: block;
  margin-top: 0;

  @include responsive-margin(5, 'bottom');
}

.body-l {
  @extend %body-l;
}

%body-m {
  @include typography-responsive(19);

  display: block;
  margin-top: 0;

  @include responsive-margin(4, 'bottom');
}

p,
.body-m {
  @extend %body-m;
  color: inherit;
}

%body-s {
  @include typography-responsive(16);

  display: block;
  margin-top: 0;

  @include responsive-margin(4, 'bottom');
}

.body-s {
  @extend %body-s;
}

address {
  @extend %body-m;

  font-style: normal;
}

/**
 * Lede text
 *
 * 1. Apply lede text styling to p and ul within the lede element
 * 2. Reduces the spacing between the page heading and the lede text
 */

.lede-text {
  @include font(24);
  @include responsive-margin(7, 'bottom');
  /* [1] */
  p,
  ul {
    @include font(24);
  }
}

.lede-text--small {
  @include font(19);
  @include responsive-margin(5, 'bottom');
}

/* [2] */
h1 + .lede-text,
h1 + .lede-text--small {
  margin-top: - spacing(2);
}

/**
 * Contextual adjustments
 *
 * Add top padding to headings that appear directly after paragraphs.
 *
 * 1. Removes the padding-top because of the lede-text's increased margin-bottom
 *
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/frontend
 */

%body-l  + %heading-l {
  padding-top: spacing(1);

  @include mq($from: tablet) {
    padding-top: spacing(2);
  }
}

%body-m  + %heading-l,
%body-s  + %heading-l,
%list + %heading-l {
  @include responsive-padding(4, 'top');
}

%body-m + %heading-m,
%body-s + %heading-m,
%list + %heading-m,
%body-m + %heading-s,
%body-s + %heading-s,
%list + %heading-s {
  padding-top: spacing(1);

  @include mq($from: tablet) {
    padding-top: spacing(2);
  }
}

/* [1] */
.lede-text + %heading-l {
  padding-top: 0;
}

/* Font weight for <strong> and <b> */

strong,
b {
  font-weight: $font-bold;
}
