.nhsuk-width-container--full {
  margin: 0;
  max-width: none;
}

.HomePage {
  background-color: $color_nhsuk-white;
  padding: 0;

  .nhsuk-section {
    &:nth-of-type(odd) {
      background: #f0f4f5;
    }

    &:nth-of-type(2) {
      @include mq($from: tablet) {
        padding-top: nhsuk-spacing(6);
      }
      
      @include mq($until: 421px) {
        padding-top: nhsuk-spacing(6);
      }
    }
  }
}

.nhsuk-section__content {
  @include top-and-bottom;

  padding-bottom: nhsuk-spacing(9);
  padding-top: nhsuk-spacing(9);

  &:empty {
    display: none;
  }

  @include mq($until: desktop) {
    padding-bottom: nhsuk-spacing(7);
    padding-top: nhsuk-spacing(7);

    &+.nhsuk-section__content {
      padding-top: 0;
    }
  }

  h2 {
    padding-top: 0;
  }
}

.nhsuk-section__description {
  color: $nhsuk-secondary-text-color;
}

.nhsuk-homepage .nhsuk-section__content .nhsuk-action-link {
  padding-top: nhsuk-spacing(2);
}

.nhsuk-section--with-image {
  position: relative;

  &:before {
    background-image: url("/static/nhsuk/img/crosses.svg");
    background-position: left top;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    display: block;
    height: 700px;
    position: absolute;
    right: 0;
    width: 48%;

    @include mq($until: desktop) {
      background-image: url("/static/nhsuk/img/crosses-mobile.svg");
      bottom: auto;
      height: 125px;
      left: 0;
      right: auto;
      top: -10px;
      width: 100%;
    }
  }

  @include mq($until: desktop) {
    padding-top: 120px;
  }
}

.nhsuk-list-signage {
  list-style: none;
  padding-left: 0;
  padding-top: nhsuk-spacing(2);

  li {
    display: inline-block;
    margin: 2px 0;
    width: 100%;

    &:last-of-type {
      margin-bottom: 2px;
    }

    a {
      background: $color_nhsuk-blue;
      color: $color_nhsuk-white;
      display: block;
      padding: 12px 24px;
      position: relative;
      text-decoration: none;
      width: 100%;

      @include mq($until: tablet) {
        padding: 12px 16px;
      }

      &:hover {
        background: $color_shade-nhsuk-blue-35;
        box-shadow: none;
        text-decoration: underline;
      }

      &:active {
        background: $color_shade-nhsuk-blue-50;
      }

      &:focus {
        background: $nhsuk-focus-color; 
        box-shadow: inset 0 -4px 0 0 $nhsuk-focus-text-color; 
        color: $nhsuk-focus-text-color; 

        .nhsuk-icon {
          fill: $nhsuk-focus-text-color;
        }

        &:hover {
          text-decoration: none;
        }
      }

      .nhsuk-icon {
        fill: $color_nhsuk-white;
        height: 24px;
        position: absolute;
        right: 12px;
        top: 14px;
        width: 24px;
        @include mq($until: tablet) {
          top: 12px;
        }
      }
    }
  }
}

.nhsuk-list-signage--two-columns {
  @include mq($from: desktop) {
    column-count: 2;
    column-gap: 32px;
  }
}

.nhsuk-list-apps {
  padding: 0;
}

.nhsuk-list-apps__item {
  display: inline-block;
  list-style: none;
  margin: 0;
  width: 100%;

  @include mq($until: desktop) {
    border-bottom: 1px solid $color_nhsuk-grey-4;

    &:last-child {
      border: 0;
      margin-bottom: 0;
    }
  }
}

.nhsuk-list-apps__link {
  display: block;
  min-height: 100px;
  padding: nhsuk-spacing(3) 0 nhsuk-spacing(3) 92px;
  position: relative;
  text-decoration: none;

  &:focus,
  &:active {
    background: none;
    outline: none;
    box-shadow: none;

    .nhsuk-list-apps__title {
      background: $nhsuk-focus-color; 
      box-shadow: inset 0 -4px 0 0 $nhsuk-focus-text-color; 
      color: $nhsuk-focus-text-color;
    }
  }

  @include mq($until: desktop) {
    min-height: 92px;
    padding-left: 80px;
  }

  @include mq($until: tablet) {
    min-height: 88px;
    padding-left: 68px;
  }
}

.nhsuk-list-apps__icon {
  border: 1px solid $color_nhsuk-grey-5;
  border-radius: 12px;
  height: 72px;
  left: 0;
  position: absolute;
  top: nhsuk-spacing(3);
  width: 72px;

  @include mq($until: desktop) {
    height: nhsuk-spacing(9);
    width: nhsuk-spacing(9);
  }

  @include mq($until: tablet) {
    height: nhsuk-spacing(8);
    width: nhsuk-spacing(8);
  }
}

.nhsuk-list-apps__title {
  @include nhsuk-font(22, bold);

  text-decoration: underline;
}

.nhsuk-list-apps__category {
  @include nhsuk-font(16);

  color: $nhsuk-secondary-text-color;
  display: block;
  margin-top: nhsuk-spacing(2);

  @include mq($until: desktop) {
    margin-top: nhsuk-spacing(1);
  }
}

.nhsuk-list-apps--two-columns {
  @include mq($from: desktop) {
    column-count: 2;
    column-gap: 32px;
  }
}

.app-promo--grey a {
  background: #f0f4f5;

   &:hover {
    background: #f0f4f5;
   }

}

.app-promo--grey .nhsuk-promo__link-wrapper:focus {
  background: #f0f4f5;
}
